<!DOCTYPE html>
<html>

  <head>
    <title>Angular 2 QuickStart Javascript</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="native-shim.js"></script>
    <script src="https://unpkg.com/core-js/client/shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.0.0-rc.6/webcomponents-sd-ce.js"></script>
    <script src="https://unpkg.com/zone.js@0.7.4?main=browser"></script>
    <script src="https://unpkg.com/systemjs@0.19.39/dist/system.src.js"></script>
    <script type="text/javascript" src="src/demo/ng/config.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>
    <script type="text/javascript">
      System.import('app');
    </script>

  </head>
<body>
  <my-app>
    loading...
  </my-app>
</body>

</html>