<!doctype html>
<html>
  <head>
    <script src="https://unpkg.com/@skatejs/web-components/umd/@skatejs/web-components.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <x-hello-world-2 name="dudulle"></x-hello-world-2>
    <script type="text/javascript">
      $('x-hello-world-2').attr('name', 'totor');
    </script>
  </body>
</html>