<!doctype html>
<html>
  <head>
    <script src="https://unpkg.com/@skatejs/web-components/umd/@skatejs/web-components.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.0/es6-promise.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>
  </head>
  <body>
    <x-hello-world-2 id="0"></x-hello-world-2>
    <script type="text/javascript">
      var nb = 0;
      /* fetch('/data.json')
        .then(function(d){ return d.json();})
        .then($('x-hello-world-2').attr('id', d.id); nb++; }); */
      setInterval(function(){ $('x-hello-world-2').attr('id'); nb++; }, 5000);
      
    </script>
  </body>
</html>