<!doctype html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0,width=device-width">
    <meta name="apple-mobile-web-app-title" content="poc wc">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="cleartype" content="on">
    <script src="https://unpkg.com/@skatejs/web-components/umd/@skatejs/web-components.min.js"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="poc">
    <meta name="author" content="sgcib">
    <meta charset="utf-8" /> 
  </head>
  <body>
    <x-hello-world name="dudulle"></x-hello-world>
    <x-hello-world-2 name="dudulle"></x-hello-world-2>
  </body>
</html>