<!doctype html>
<html>
  <head>
    <script src="https://unpkg.com/@skatejs/web-components/umd/@skatejs/web-components.min.js"></script>
  </head>
  <body>
    <x-hello-world name="dudulle"></x-hello-world>
    <x-hello-world-2 name="dudulle"></x-hello-world-2>
  </body>
</html>