<!DOCTYPE html>
<html>
  <head>
    <script src="src/demo/native-shim.js"></script>
  	<script src="https://jspm.io/system@0.19.js"></script>	
    <script type="text/javascript" src="./src/demo/react/config.js"></script>
    <script type="text/javascript">
      System.import('./src/demo/react/app.jsx');
    </script>
  </head>
  <body>
    <div id="main"></div>
  </body>
</html>